@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');


*{
margin: 0;
padding: 0;
outline: 0;
appearance: none;
text-decoration: none;
border: 0;
box-sizing: border-box;
background: var(rgb(207, 30, 30));
}

html{
    font-size: 14px;
    /* background: var(rgb(207, 30, 30)); */
}

body{
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    /* background: var(rgb(207, 30, 30)); */
    user-select: none;
    overflow-x: hidden;
}

.slider{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    animation: slide 20s infinite;
}

.load{
    animation: slide 10s;
    width: 100%;
}

@keyframes slide {
    0%{
        background-image: url(../images/background1.webp);
    }
    20%{
        background-image: url(../images/background1.webp);
    }
    20.01%{
        background-image: url(../images/background2.jfif);
    }
    40%{
        background-image: url(../images/background2.jfif);
    }
    40.01%{
        background-image: url(../images/background3.jfif);
    }
    60%{
        background-image: url(../images/background3.jfif);
    }
    60.01%{
        background-image: url(../images/background4.jfif);
    }
    80%{
        background-image: url(../images/background4.jfif);
    }
    80.01%{
        background-image: url(../images/background5.jfif);
    }
    100%{
        background-image: url(../images/background5.jfif);
    }
}

.container{
    display: grid;
    width: 98%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto ;
}
/*------------- begin of nav-------------*/
nav{
    display: flex;
    position: fixed;
    z-index: 1;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    padding: 5px 5px;
    border-radius: 10px;
    background: navy;
}

.nav-left , .nav-right{
    display: flex;
    align-items: center;
}

.nav-left ul li{
    list-style: none;
    display: inline-block;
}

.nav-left ul li img{
    width: 30px;
    border-radius: 50%;
    margin: 0 35px;
}

.nav-icon{
    margin-left: 30px;
}

.nav-icon img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
}

.nav-left .logo{
    display: flex;
    gap: 1rem;
}

.nav-left .logo img{
    width: 2rem;
    margin-left: 20px;
    border-radius: 50%;
    height: 2rem;
}

.search-box{
    background: #efefef;
    width: 300px;
    border-radius: 20px;
    display: flex;
    padding: 0 10px;
    align-items: center;
}

.search-box img{
    width: 20px;
    border-radius: 50%;
}
.search-box input{
    background: transparent;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 0;
}
/*---------------------------- end of nav---------------------*/

a{
    color: #363949;
}

img{
    display: block;
    width: 100%;
}

h1{
    font-weight: 800;
    font-size: 2.0rem;
}

small{
    font-size: 0.75rem;
}

text-muted{
    color: var(#7d8da1);
}

p{
    color: var(#677483);
}

b{
    color: #363949;
}

.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}
/*------------- --------begin of aside----------------------*/
aside{
    height: 100vh;
    position: fixed;
    /* width: 14rem; */
}

aside .top{
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

.container .sidebar{
    /* background-color: #7380ec; */
    border-radius: 8px;
    width: 20rem;
}

aside .close{
    display: none;
     font-size: 26px; 
} 

aside .sidebar{
    display: flex;
    background: white;
    flex-direction: column;
    position: relative;
    top: 3rem;
    height: 86vh;
}

aside h3{
    font-weight: 700;
}

aside .sidebar a{
    display: flex;
    position: relative;
    align-items: center;
    color: var(#7d8da1);
    gap: 0.5rem;
    margin-left: 2rem;
    height: 3.7rem;
    transition: all 300ms ease;
}


aside .sidebar a span{
    font-size: 1.9rem;
    transition: all 300ms ease;
}

.logo h2 span{
    color: blue;
}

aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a .active{
    margin-left: 0;
    background: var(rgba(132, 139, 208, 0.18));
    color: var(#7380ec);
}

aside .sidebar a .active:before{
    content: "";
    width: 6px;
    height: 100%;
    background: var(#7380ec);
}

aside .sidebar a.active span{
    color: #7380ec;
    margin-left: calc(1rem -3px);
}
aside .sidebar a:hover{
    color: var(#7380ec);
}

aside .sidebar a:hover span{
    margin-left: 1rem;
}
/*---------------------------- end of aside---------------------------*/


/*------------- begin of first (main section)--------------------*/

.main-secton{
    /* margin-top: 3rem;
    gap: 0.87rem; */
    justify-content: center;
    text-align: center;
    /* height: 100vh; */
}

.main-secton .contact{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), #7180b8), url(../images/password.webp); 
    background-repeat: no-repeat;
    background-size: cover;
    width: 100rem;
    margin-left: 19rem;
    margin-top: 4rem;
    height: 100vh;
    background-position: center; 
    display: flex;
    align-items: center;
    justify-content: center; 
}

form{
    max-width: 600px;
    width: 90%;
}

.input-group{
    margin-bottom: 20px;
    margin-right: 15rem;
    position: relative;
}

input, textarea{
    width: 100%;
    padding: 11px;
    outline: 0;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    font-size: 16px;
}

label{
    height: 100%;
    position: absolute;
    left: 0;
    padding: 13px;
    color: #fff;
    cursor: text;
    transition: 0.5s;
}

button{
    padding: 10px 0;
    margin-right: 17.65rem;
    color: #fff;
    outline: none;
    background: transparent;
    border: 1px solid #fff;
    width: 390px;
    cursor: pointer;
} 

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
    top: -35px;
    font-size: 14px;
}

.contact h1{
    margin-right: 4rem;
    margin-bottom: 37rem;
}